@font-face {
    font-family: 'berlin';
    src: url('berlin.ttf');
    font-weight: normal;
    font-style: normal;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    background: black;
}
.wrapper {
    top: 29%;
    left: 35%;
    position:absolute;
    visibility: hidden;

}